.grid {
    >section {
        display: grid;
    }

    .square {
        grid-template-columns: 1.5rem 1.5rem 1.5rem;
        grid-template-rows: 1.5rem 1.5rem 1.5rem;
    }

    .blog {
        grid-template-columns: 20ch 65ch 1fr
    }
    .blog-with-padding {
        grid-template-columns: 1fr 20ch 65ch 20ch 1fr;
        :first-child {
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }

    .blog-with-only-main {
        grid-template-columns: 1fr 65ch 1fr;
        >*{
            grid-column-start: 2;
        }
    }


}
